.rootView {
	white-space:pre;
}

.line {
	cursor: text;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome and Opera */
}

.text-width-calculation {
	float:left;
	opacity: 0;
	white-space: pre;
	position: absolute;
}

.cursor {
	display: inline-block;
	position: absolute;
	width: 1px;
	background-color: black;
}

.cursor.blink {
	animation-name: blink;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0% {opacity: 1}
	1% { opacity: 0}
	50% {opacity: 0}
	51% {opacity: 1}
	100% {opacity: 1}
}

